pipeline/Case8_self_practice.json
{
	"name": "Case8_self_practice",
	"properties": {
		"activities": [
			{
				"name": "LookupWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_watermark \nFROM watermark_table1\nWHERE table_name = 'customer'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetWatermark",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "watermark",
					"value": {
						"value": "@activity('LookupWatermark').output.firstRow.last_watermark",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CopyToStaging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT *\nFROM customer_source\nWHERE updated_at > '@{variables('watermark')}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "MySqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "CheckRowCount",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyToStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS cnt FROM stg_customer;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IfDataExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "CheckRowCount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('CheckRowCount').output.firstRow.cnt, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Log \"No Data",
								"errorCode": "Log \"No Data"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "MergeData",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "MERGE INTO customer_target AS tgt\nUSING stg_customer AS src\nON tgt.id = src.id\n\nWHEN MATCHED THEN\n    UPDATE SET \n        tgt.name = src.name,\n        tgt.email = src.email,\n        tgt.updated_at = src.updated_at\n\nWHEN NOT MATCHED THEN\n    INSERT (id, name, email, updated_at)\n    VALUES (src.id, src.name, src.email, src.updated_at);"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "UpdateWatermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "MergeData",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_update_watermark]"
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LogSuccess",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "UpdateWatermark",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "log_array",
								"value": {
									"value": "@concat(\n   'Load successful. Watermark: ',\n   variables('watermark'),\n   ' Time: ',\n   utcNow()\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"watermark": {
				"type": "String"
			},
			"log_array": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-05-06T11:43:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}